*{
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}
.main-div{
    margin: auto;
    height: 75vh;
    width: 70vw;
    margin-top: 5%;
    background-color: lightcoral;
    text-align: center;
}
.main-div > p{
    font-family: sans-serif;
    font-size: 28pt;
    color: lightgoldenrodyellow;
}
#lets-go{
    width: 60%;
    height: 10%;
    border-radius: 100%;
    box-shadow: 3px 3px pink; 
    background-color: lightsalmon;
    margin-top: 70%;
}