*{
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: lightslategray;
    box-sizing: border-box;    
}
.main-div{
    margin: auto;
    height: 75vh;
    width: 70vw;
    margin-top: 5%;
    background-color: lightcoral;
    text-align: center;
    border-radius: 10%;
    border: 1px solid lightgoldenrodyellow;
    box-shadow: 3px 3px 6px pink;     
}
.main-div > p{
    font-family: sans-serif;
    font-size: 28pt;
    color: lightgoldenrodyellow;
    padding-top: 50px;
}
#lets-go{
    width: 60%;
    height: 10%;
    border-radius: 100%;
    box-shadow: 3px 3px pink; 
    background-color: lightsalmon;
    margin-top: 20%;
    height: 75px;
    color: lightgoldenrodyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
}
.choices-btns{
    display: flex;
    justify-content: space-around;
    padding-top: 15%;    
}
#scissors , #paper, #rock{
    width: 20%;
    border-radius: 100%;
    box-shadow: 3px 3px pink; 
    background-color: lightsalmon;
    height: 35px;
    color: lightgoldenrodyellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
}
.middle-container {
    width: 100%;
    height: 35%;
    padding-top: 45px;
    display: flex;
    justify-content: space-around;    
}
.middle-container > h1{
    color: lightgoldenrodyellow;    
}
.img-container{
    width: 35%;
    height: 85%;
}
.img-container > img{
    width: 100%;
    height: 100%;
    border-radius: 35%;    
}