<div class="main-div">
    <div class="timer-container">
        
        <p>Timer: {{timer}}</p>
    </div>
    
    <div class="choices-btns">
        <input id="rock" type="button" value="rock" ng-model="rock" ng-click='getVal("rock"); pickRandomVal(gameData)'>
        <input id="paper" type="button" value="paper" ng-model="paper" ng-click='getVal("paper"); pickRandomVal(gameData)'>
        <input id="scissors" type="button" value="scissors" ng-model="scissors" ng-click='getVal("scissors"); pickRandomVal(gameData)'>
    </div>
        <div class="middle-container">
            <div class="img-container">
                <img ng-src="{{imgSrc}}" alt=""> <br>
                <p>You</p>
            </div>
            <div class="vs-text"><h1>VS</h1></div>
            <div class="img-container">
                <img ng-src="{{randomVal}}" class="inverted-img" alt=""> <br>
                <p>Bot</p>
            </div>
        </div>
        <div class="score-container">
            
                 <p>Score: {{score}}</p>
                 
        </div>

</div>